@import '~antd/dist/antd.css';
.App {
  padding: 10px;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: 2px solid rgb(187, 185, 185);
  border-radius: 1px;
  background-color: rgb(161, 156, 156);
}
::-webkit-scrollbar-thumb {
  background-color: #dbdada8f;
  border-radius: 4px;
}